APScheduler==3.11.0
fastapi==0.116.1
uvicorn==0.35.0
SQLAlchemy==2.0.43
pyodbc==5.2.0
pydantic==2.11.7
pydantic_core==2.33.2
email_validator==2.2.0
python-dotenv==1.1.1
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.3.0
python-multipart==0.0.20
alembic==1.16.4
reportlab==4.4.3
pytest==8.3.5
pytest-cov==6.0.0
httpx==0.28.1